body {
  color: black;
  height: 100%;
  margin: 0;
  padding: 0;
}

.parentContainer {
  display: table;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  vector-aligh: middle ;
}

h1 {
  color: orange;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

form {
  background-color: lightgrey;
  display: block;
  margin: 0em;

}
b {
  font-weight: bold;
}

input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: orange;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}